In [25]:
import pandas as pd

tempratures = pd.read_csv(r'C:\Users\vadapala\Downloads\GlobalTemperatures.csv')
print(type(tempratures))

tempratures.head()

<class 'pandas.core.frame.DataFrame'>

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
tempratures.tail()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [42]:
# sum()

# DataFrame.sum(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, **kwargs)

        # axis     --->   0/1 (0 -> coloumn/index, 1 -> row)
    
        # skipna   --->   skips the missing values, by default sets to "True"
        
        # level    --->   int or level name, default None, If the axis is a MultiIndex (hierarchical), count along a particular level, collapsing into a Series
        
        # numeric_only --->   boolean, default None, Include only float, int, boolean column
        
        # min_count   --->   int, default 0,  The required number of valid values to perform the operation. If fewer than min_count non-NA values are present the result will be NA.

In [41]:
tempratures.sum()

dt                                           1750-01-011750-02-011750-03-011750-04-011750-0...
LandAverageTemperature                                                                 26631.6
LandAverageTemperatureUncertainty                                                      2984.33
LandMaxTemperature                                                                     28586.4
LandMaxTemperatureUncertainty                                                          955.725
LandMinTemperature                                                                     5465.24
LandMinTemperatureUncertainty                                                          860.243
LandAndOceanAverageTemperature                                                         30303.4
LandAndOceanAverageTemperatureUncertainty                                              256.036
dtype: object

In [33]:
tempratures.sum(skipna=False)

dt                                           1750-01-011750-02-011750-03-011750-04-011750-0...
LandAverageTemperature                                                                     NaN
LandAverageTemperatureUncertainty                                                          NaN
LandMaxTemperature                                                                         NaN
LandMaxTemperatureUncertainty                                                              NaN
LandMinTemperature                                                                         NaN
LandMinTemperatureUncertainty                                                              NaN
LandAndOceanAverageTemperature                                                             NaN
LandAndOceanAverageTemperatureUncertainty                                                  NaN
dtype: object

In [55]:
tempratures.sum(axis=0)         # sum of each coloumn

dt                                           1750-01-011750-02-011750-03-011750-04-011750-0...
LandAverageTemperature                                                                 26631.6
LandAverageTemperatureUncertainty                                                      2984.33
LandMaxTemperature                                                                     28586.4
LandMaxTemperatureUncertainty                                                          955.725
LandMinTemperature                                                                     5465.24
LandMinTemperatureUncertainty                                                          860.243
LandAndOceanAverageTemperature                                                         30303.4
LandAndOceanAverageTemperatureUncertainty                                              256.036
dtype: object

In [56]:
tempratures.sum(axis=1)         # sum of each row

0        6.608
1        6.785
2        8.702
3       10.941
4       13.645
5       14.661
6       17.779
7       16.981
8       14.050
9        9.035
10       0.000
11       5.742
12       5.964
13       4.790
14       8.851
15      10.038
16       0.000
17      15.628
18       0.000
19      16.701
20      13.329
21       0.000
22       0.000
23       0.000
24       4.137
25       0.000
26       8.998
27      10.663
28       0.000
29       0.000
         ...
3162    63.020
3163    62.310
3164    56.916
3165    47.192
3166    37.882
3167    28.982
3168    25.808
3169    25.024
3170    34.684
3171    45.236
3172    54.812
3173    60.649
3174    62.569
3175    62.769
3176    56.736
3177    47.486
3178    35.633
3179    29.542
3180    26.433
3181    28.980
3182    35.782
3183    44.334
3184    53.989
3185    61.312
3186    63.370
3187    62.457
3188    56.546
3189    49.111
3190    38.115
3191    31.719
Length: 3192, dtype: float64

In [15]:
tempratures['LandMaxTemperature'].sum()

28586.397

In [35]:
tempratures.LandMaxTemperature.sum(skipna=False)

nan

In [45]:
# Mean()

# DataFrame.mean(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)

In [48]:
tempratures.mean()

LandAverageTemperature                        8.374731
LandAverageTemperatureUncertainty             0.938468
LandMaxTemperature                           14.350601
LandMaxTemperatureUncertainty                 0.479782
LandMinTemperature                            2.743595
LandMinTemperatureUncertainty                 0.431849
LandAndOceanAverageTemperature               15.212566
LandAndOceanAverageTemperatureUncertainty     0.128532
dtype: float64

In [52]:
tempratures.LandMaxTemperature.mean()

14.350600903614458

In [47]:
tempratures.mean(axis=0)     # axis = 0   --->    Mean of each coloumn

LandAverageTemperature                        8.374731
LandAverageTemperatureUncertainty             0.938468
LandMaxTemperature                           14.350601
LandMaxTemperatureUncertainty                 0.479782
LandMinTemperature                            2.743595
LandMinTemperatureUncertainty                 0.431849
LandAndOceanAverageTemperature               15.212566
LandAndOceanAverageTemperatureUncertainty     0.128532
dtype: float64

In [38]:
tempratures.mean(axis=1)     # axis = 1  --->   Mean of each row

0       3.304000
1       3.392500
2       4.351000
3       5.470500
4       6.822500
5       7.330500
6       8.889500
7       8.490500
8       7.025000
9       4.517500
10           NaN
11      2.871000
12      2.982000
13      2.395000
14      4.425500
15      5.019000
16           NaN
17      7.814000
18           NaN
19      8.350500
20      6.664500
21           NaN
22           NaN
23           NaN
24      2.068500
25           NaN
26      4.499000
27      5.331500
28           NaN
29           NaN
          ...
3162    7.877500
3163    7.788750
3164    7.114500
3165    5.899000
3166    4.735250
3167    3.622750
3168    3.226000
3169    3.128000
3170    4.335500
3171    5.654500
3172    6.851500
3173    7.581125
3174    7.821125
3175    7.846125
3176    7.092000
3177    5.935750
3178    4.454125
3179    3.692750
3180    3.304125
3181    3.622500
3182    4.472750
3183    5.541750
3184    6.748625
3185    7.664000
3186    7.921250
3187    7.807125
3188    7.068250
3189    6.138875
3190    4.764375
3191    3.964875
Length: 3192, dtype: float64

In [ ]:
# Describe()

# DataFrame.describe(percentiles=None, include=None, exclude=None)

# Generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, 
# excluding NaN values.

In [57]:
tempratures.describe()

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,3180.000000,3180.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000
mean,8.374731,0.938468,14.350601,0.479782,2.743595,0.431849,15.212566,0.128532
std,4.381310,1.096440,4.309579,0.583203,4.155835,0.445838,1.274093,0.073587
min,-2.080000,0.034000,5.900000,0.044000,-5.407000,0.045000,12.475000,0.042000
25%,4.312000,0.186750,10.212000,0.142000,-1.334500,0.155000,14.047000,0.063000
50%,8.610500,0.392000,14.760000,0.252000,2.949500,0.279000,15.251000,0.122000
75%,12.548250,1.419250,18.451500,0.539000,6.778750,0.458250,16.396250,0.151000
max,19.021000,7.880000,21.320000,4.373000,9.715000,3.498000,17.611000,0.457000

In [59]:
tempratures.describe( percentiles=[.10, .30, .50, .70] )

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,3180.000000,3180.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000
mean,8.374731,0.938468,14.350601,0.479782,2.743595,0.431849,15.212566,0.128532
std,4.381310,1.096440,4.309579,0.583203,4.155835,0.445838,1.274093,0.073587
min,-2.080000,0.034000,5.900000,0.044000,-5.407000,0.045000,12.475000,0.042000
10%,2.563900,0.082000,8.531000,0.096000,-2.752400,0.102000,13.506500,0.056000
30%,4.956700,0.222000,11.033300,0.162000,-0.692700,0.181300,14.198900,0.067000
50%,8.610500,0.392000,14.760000,0.252000,2.949500,0.279000,15.251000,0.122000
70%,11.795600,1.174600,17.782400,0.430000,6.052700,0.389000,16.221400,0.143000
max,19.021000,7.880000,21.320000,4.373000,9.715000,3.498000,17.611000,0.457000

In [60]:
tempratures.LandMaxTemperature.describe()

count    1992.000000
mean       14.350601
std         4.309579
min         5.900000
25%        10.212000
50%        14.760000
75%        18.451500
max        21.320000
Name: LandMaxTemperature, dtype: float64

In [61]:
tempratures.LandMaxTemperature.describe( percentiles = [.30, .60, .90] )

count    1992.000000
mean       14.350601
std         4.309579
min         5.900000
30%        11.033300
50%        14.760000
60%        16.756800
90%        19.836500
max        21.320000
Name: LandMaxTemperature, dtype: float64

In [ ]:
# count

# DataFrame.count(axis=0, level=None, numeric_only=False)

In [62]:
tempratures.count()

dt                                           3192
LandAverageTemperature                       3180
LandAverageTemperatureUncertainty            3180
LandMaxTemperature                           1992
LandMaxTemperatureUncertainty                1992
LandMinTemperature                           1992
LandMinTemperatureUncertainty                1992
LandAndOceanAverageTemperature               1992
LandAndOceanAverageTemperatureUncertainty    1992
dtype: int64

In [63]:
tempratures.LandMaxTemperature.count()

1992

In [66]:
tempratures.count(axis=0)             # counting number of values in each coloumn

dt                                           3192
LandAverageTemperature                       3180
LandAverageTemperatureUncertainty            3180
LandMaxTemperature                           1992
LandMaxTemperatureUncertainty                1992
LandMinTemperature                           1992
LandMinTemperatureUncertainty                1992
LandAndOceanAverageTemperature               1992
LandAndOceanAverageTemperatureUncertainty    1992
dtype: int64

In [67]:
tempratures.count(axis=1)           # counting number of values in each row

0       3
1       3
2       3
3       3
4       3
5       3
6       3
7       3
8       3
9       3
10      1
11      3
12      3
13      3
14      3
15      3
16      1
17      3
18      1
19      3
20      3
21      1
22      1
23      1
24      3
25      1
26      3
27      3
28      1
29      1
       ..
3162    9
3163    9
3164    9
3165    9
3166    9
3167    9
3168    9
3169    9
3170    9
3171    9
3172    9
3173    9
3174    9
3175    9
3176    9
3177    9
3178    9
3179    9
3180    9
3181    9
3182    9
3183    9
3184    9
3185    9
3186    9
3187    9
3188    9
3189    9
3190    9
3191    9
Length: 3192, dtype: int64

In [ ]:
# Max

# DataFrame.max(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)

In [68]:
tempratures.max()

dt                                           2015-12-01
LandAverageTemperature                           19.021
LandAverageTemperatureUncertainty                  7.88
LandMaxTemperature                                21.32
LandMaxTemperatureUncertainty                     4.373
LandMinTemperature                                9.715
LandMinTemperatureUncertainty                     3.498
LandAndOceanAverageTemperature                   17.611
LandAndOceanAverageTemperatureUncertainty         0.457
dtype: object

In [69]:
tempratures.LandMaxTemperature.max()

21.32

In [70]:
tempratures.max(axis=0)               # max values from each coloumn

dt                                           2015-12-01
LandAverageTemperature                           19.021
LandAverageTemperatureUncertainty                  7.88
LandMaxTemperature                                21.32
LandMaxTemperatureUncertainty                     4.373
LandMinTemperature                                9.715
LandMinTemperatureUncertainty                     3.498
LandAndOceanAverageTemperature                   17.611
LandAndOceanAverageTemperatureUncertainty         0.457
dtype: object

In [71]:
tempratures.max(axis=1)             # max values from each row

0        3.574
1        3.702
2        5.626
3        8.490
4       11.573
5       12.937
6       15.868
7       14.750
8       11.413
9        6.367
10         NaN
11       2.970
12       3.469
13       3.827
14       5.800
15       7.670
16         NaN
17      13.827
18         NaN
19      14.405
20      10.673
21         NaN
22         NaN
23         NaN
24       3.789
25         NaN
26       5.806
27       8.265
28         NaN
29         NaN
         ...
3162    20.737
3163    20.596
3164    18.947
3165    15.994
3166    15.107
3167    14.339
3168    14.136
3169    14.157
3170    15.090
3171    16.038
3172    18.362
3173    20.126
3174    20.711
3175    20.790
3176    18.865
3177    16.066
3178    14.899
3179    14.410
3180    14.255
3181    14.564
3182    15.193
3183    15.962
3184    18.181
3185    20.364
3186    20.904
3187    20.699
3188    18.845
3189    16.450
3190    15.252
3191    14.774
Length: 3192, dtype: float64

In [ ]:
# Min

# DataFrame.min(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)

In [72]:
tempratures.min()

dt                                           1750-01-01
LandAverageTemperature                            -2.08
LandAverageTemperatureUncertainty                 0.034
LandMaxTemperature                                  5.9
LandMaxTemperatureUncertainty                     0.044
LandMinTemperature                               -5.407
LandMinTemperatureUncertainty                     0.045
LandAndOceanAverageTemperature                   12.475
LandAndOceanAverageTemperatureUncertainty         0.042
dtype: object

In [73]:
tempratures.LandMinTemperature.min()

-5.407

In [74]:
tempratures.min(axis=0)             # min value from each coloumn

dt                                           1750-01-01
LandAverageTemperature                            -2.08
LandAverageTemperatureUncertainty                 0.034
LandMaxTemperature                                  5.9
LandMaxTemperatureUncertainty                     0.044
LandMinTemperature                               -5.407
LandMinTemperatureUncertainty                     0.045
LandAndOceanAverageTemperature                   12.475
LandAndOceanAverageTemperatureUncertainty         0.042
dtype: object

In [75]:
tempratures.min(axis=1)             # min value from each row

0       3.034
1       3.083
2       3.076
3       2.451
4       2.072
5       1.724
6       1.911
7       2.231
8       2.637
9       2.668
10        NaN
11      2.772
12      2.495
13      0.963
14      3.051
15      2.368
16        NaN
17      1.801
18        NaN
19      2.296
20      2.656
21        NaN
22        NaN
23        NaN
24      0.348
25        NaN
26      3.192
27      2.398
28        NaN
29        NaN
        ...
3162    0.068
3163    0.068
3164    0.064
3165    0.062
3166    0.062
3167   -0.548
3168   -1.755
3169   -2.080
3170    0.068
3171    0.069
3172    0.059
3173    0.064
3174    0.061
3175    0.064
3176    0.059
3177    0.059
3178    0.064
3179   -0.331
3180   -1.518
3181   -1.138
3182    0.060
3183    0.061
3184    0.058
3185    0.057
3186    0.058
3187    0.057
3188    0.058
3189    0.059
3190    0.063
3191    0.062
Length: 3192, dtype: float64

In [ ]:
# Median

# DataFrame.median(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)

In [76]:
tempratures.median()

LandAverageTemperature                        8.6105
LandAverageTemperatureUncertainty             0.3920
LandMaxTemperature                           14.7600
LandMaxTemperatureUncertainty                 0.2520
LandMinTemperature                            2.9495
LandMinTemperatureUncertainty                 0.2790
LandAndOceanAverageTemperature               15.2510
LandAndOceanAverageTemperatureUncertainty     0.1220
dtype: float64

In [77]:
tempratures.LandMaxTemperature.median()

14.76

In [78]:
tempratures.median(axis=0)            # median value of each coloumn

LandAverageTemperature                        8.6105
LandAverageTemperatureUncertainty             0.3920
LandMaxTemperature                           14.7600
LandMaxTemperatureUncertainty                 0.2520
LandMinTemperature                            2.9495
LandMinTemperatureUncertainty                 0.2790
LandAndOceanAverageTemperature               15.2510
LandAndOceanAverageTemperatureUncertainty     0.1220
dtype: float64

In [82]:
tempratures.median(axis=1, skipna=True)   # median value of each row

C:\Users\vadapala\AppData\Local\Programs\Python\Python37\lib\site-packages\numpy\lib\function_base.py:3250: RuntimeWarning: All-NaN slice encountered
  r = func(a, **kwargs)

0       3.3040
1       3.3925
2       4.3510
3       5.4705
4       6.8225
5       7.3305
6       8.8895
7       8.4905
8       7.0250
9       4.5175
10         NaN
11      2.8710
12      2.9820
13      2.3950
14      4.4255
15      5.0190
16         NaN
17      7.8140
18         NaN
19      8.3505
20      6.6645
21         NaN
22         NaN
23         NaN
24      2.0685
25         NaN
26      4.4990
27      5.3315
28         NaN
29         NaN
         ...
3162    4.7415
3163    4.5965
3164    3.8380
3165    2.3990
3166    1.0660
3167    0.1170
3168    0.1145
3169    0.0840
3170    0.2875
3171    1.9050
3172    3.3895
3173    4.3150
3174    4.6235
3175    4.6100
3176    3.7770
3177    2.4075
3178    0.7185
3179    0.1355
3180    0.1135
3181    0.1170
3182    0.4950
3183    1.7745
3184    3.2330
3185    4.3975
3186    4.7755
3187    4.5875
3188    3.7140
3189    2.6735
3190    1.1380
3191    0.2205
Length: 3192, dtype: float64

In [ ]:
# Mode

# DataFrame.mode(axis=0, numeric_only=False)

In [83]:
tempratures.mode()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,13.293,0.087,8.555,0.093,-1.139,0.237,15.005,0.061
1,1750-02-01,13.765,NaN,10.781,NaN,7.818,NaN,NaN,NaN
2,1750-03-01,NaN,NaN,11.411,NaN,7.892,NaN,NaN,NaN
3,1750-04-01,NaN,NaN,17.196,NaN,8.161,NaN,NaN,NaN
4,1750-05-01,NaN,NaN,17.289,NaN,8.184,NaN,NaN,NaN
5,1750-06-01,NaN,NaN,17.713,NaN,NaN,NaN,NaN,NaN
6,1750-07-01,NaN,NaN,19.360,NaN,NaN,NaN,NaN,NaN
7,1750-08-01,NaN,NaN,19.628,NaN,NaN,NaN,NaN,NaN
8,1750-09-01,NaN,NaN,19.753,NaN,NaN,NaN,NaN,NaN
9,1750-10-01,NaN,NaN,19.850,NaN,NaN,NaN,NaN,NaN
10,1750-11-01,NaN,NaN,20.037,NaN,NaN,NaN,NaN,NaN
11,1750-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1751-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1751-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1751-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1751-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1751-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1751-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1751-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1751-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1751-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1751-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1751-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1751-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1752-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1752-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1752-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1752-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1752-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1752-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3162,2013-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3163,2013-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3164,2013-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3165,2013-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3166,2013-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3167,2013-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3168,2014-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3169,2014-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3170,2014-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3171,2014-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3172,2014-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3173,2014-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3174,2014-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,2014-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3176,2014-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,2014-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,2014-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3179,2014-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,2015-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3182,2015-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3183,2015-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,2015-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,2015-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,2015-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,2015-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,2015-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,2015-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,2015-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
tempratures.LandMaxTemperature.mode()

0      8.555
1     10.781
2     11.411
3     17.196
4     17.289
5     17.713
6     19.360
7     19.628
8     19.753
9     19.850
10    20.037
dtype: float64

In [89]:
# variance

# DataFrame.var(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
    
        # ddof : int, default 1,  Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

In [90]:
tempratures.var()

LandAverageTemperature                       19.195875
LandAverageTemperatureUncertainty             1.202180
LandMaxTemperature                           18.572471
LandMaxTemperatureUncertainty                 0.340126
LandMinTemperature                           17.270967
LandMinTemperatureUncertainty                 0.198771
LandAndOceanAverageTemperature                1.623313
LandAndOceanAverageTemperatureUncertainty     0.005415
dtype: float64

In [91]:
tempratures.LandMaxTemperature.var()

18.572470863746048

In [ ]:
# standard diviation

# DataFrame.std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)

    # ddof : int, default 1, Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

In [92]:
tempratures.std()

LandAverageTemperature                       4.381310
LandAverageTemperatureUncertainty            1.096440
LandMaxTemperature                           4.309579
LandMaxTemperatureUncertainty                0.583203
LandMinTemperature                           4.155835
LandMinTemperatureUncertainty                0.445838
LandAndOceanAverageTemperature               1.274093
LandAndOceanAverageTemperatureUncertainty    0.073587
dtype: float64

In [93]:
tempratures.LandMaxTemperature.std()

4.3095789659485355